
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper, .content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-image: url('./images/pic1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  perspective: 500px;
  overflow: hidden;
}

#cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.card {
  position: absolute;
  right: 5%;
  top: 25%;
  z-index: -1;

  display: flex;
  flex-direction: column;
  width: 18rem;
  height: auto;
  padding: 1.5rem 1rem;

  background: #171717;
  border-top-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;

  opacity: 0;
  transition: opacity 0.5s ease;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
}

.card > span {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 0.5rem;
}

.card > .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5rem;
}

.card > .img {
  width: 4.8rem;
  height: 4.8rem;
  background: white;
  border-radius: 1rem;
  margin: 0.5rem auto;
}

.card > .img > img {
  width: 4.8rem;
  height: 4.8rem;
}

.card > .share {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  gap: 1rem;
}

.share > a {
  color: white;
  transition: .4s ease-in-out;
}

.share > a:hover {
  color: red;
}

.card > a {
  margin: 0.5rem auto;
}

.card > a > button {
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card > a > button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .card {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: auto; /* reset the right value */
    width: 90%;
    max-width: 18rem;
    padding: 1rem;
  }

  .card > span {
    font-size: 0.9rem;
  }

  .card > .info {
    font-size: 0.75rem;
  }

  .card > .img, .card > .img > img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .card > a > button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    top: 65%;
    max-width: 15rem;
    padding: 0.8rem;
  }

  .card > span {
    font-size: 0.8rem;
  }

  .card > .info {
    font-size: 0.65rem;
  }

  .card > .img, .card > .img > img {
    width: 3rem;
    height: 3rem;
  }

  .card > a > button {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }
}
