
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

.panel{
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
  z-index: 1;
}
.panel.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.panel.visible {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease;
}

.nav {
  z-index: inherit;
  display: inline-flex;
  position: fixed;
  bottom: 1.5rem;
  left: auto;
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding: 0 1rem;
  border-radius: 2rem;
  box-shadow: 0 0.8rem 2.2rem rgba(159, 162, 177, 0.8);
}

.nav-item {
  cursor: pointer;
  color: orange;
  padding: 1rem;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
  }
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .panel{
    padding: 0 0.8rem;
  }
  .nav {
    padding: 0 0.8rem;
  }
  .nav-item {
    padding: 0.8rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
  .panel{
    padding: 0 0.6rem;
  }
  .nav {
    padding: 0 0.6rem;
  }
  .nav-item {
    padding: 0.6rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
  .panel{
    padding: 0 0.6rem;
  }
  .nav {
    padding: 0 0.6rem;
  }
  .nav-item {
    padding: 0.6rem;
    font-size: small;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .panel{
    padding: 0 0.4rem;
  }
  .nav {
    padding: 0 0.4rem;
    overflow-y: hidden;
  }
  .nav-item {
    padding: 0.4rem;
    font-size: x-small;
  }
}
@media only screen and (max-width: 400px) {
  .nav-item {
    font-size: xx-small;
  }
}
@media only screen and (max-width: 350px) {
  .nav-item {
    padding: 0.3rem;
    font-size: 7px;
  }
}
