
#Projects{
    padding: 5rem;
}
#Projects > h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: red;
}

.project-item{
    display: flex;
    flex-direction: column;
}
.project-item > h2{
    padding: 2rem 0;
    font-size: 2rem;
    color: rgb(78, 61, 61);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
.project-item > iframe{
    align-self: center;
    border: 1px solid black;
}

