
#Projects{
    padding: 5rem;
}
#Projects > h2{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: red;
}

.project-item{
    display: flex;
    flex-direction: column;
}
.project-item > h2{
    padding: 4rem 0 0;
    font-size: 2rem;
    color: rgb(78, 61, 61);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
.project-item > p{
    padding: 1rem;
    font-size: 1.3rem;
    color: rgb(78, 61, 61);
}
.project-item > iframe{
    align-self: center;
    border: 1px solid black;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    #Projects{
        padding: 2rem 4rem;
    }
    #Projects > h2{
        font-size: 2.5rem;
    }
    
    .project-item > h2{
        padding: 1.8rem 0 0;
        font-size: 1.8rem;
    }
    .project-item > p{
        font-size: 1.1rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    #Projects{
        padding: 2rem;
    }
    #Projects > h2{
        font-size: 2.5rem;
    }
    
    .project-item > h2{
        padding: 1.8rem 0 0;
        font-size: 1.8rem;
    }
    .project-item > p{
        font-size: 1.1rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    #Projects{
        padding: 2rem;
    }
    #Projects > h2{
        font-size: 2.5rem;
    }
    
    .project-item > h2{
        padding: 1.8rem 0 0;
        font-size: 1.8rem;
    }
    .project-item > p{
        font-size: 1.1rem;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Projects{
        padding: 1.5rem;
    }
    #Projects > h2{
        font-size: 2rem;
    }
    
    .project-item > h2{
        padding: 1.5rem 0 0;
        font-size: 1.2rem;
    }
    .project-item > p{
        font-size: 0.9rem;
    }
}
